*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  font-size: 62.5%;

  @include mq1200 {
    font-size: 55%;
  }

  @include mq1000 {
    font-size: 50%;
  }

}

body {
  width: 100%;
  box-sizing: border-box;
  font-family: Georgia, 'Times New Roman', Times, serif;
  font-size: 1rem;
  overflow-x: hidden;
}

a:link,
a:visited {
  text-decoration: none;
}