.company {
  background-color: $bgc-color-dark;
  padding: $section-padding;


  .content-box {
    height: 40vh;
    width: $section-width;
    margin: 0 auto;
    display: flex;
    justify-content: space-evenly;

  }

  .paragraph {
    color: $font-color-light;
  }
}