.company {
  width: 100%;
  background-color: $bgc-color-dark;
  padding: $section-padding;
  color: $font-color-light;

  @include mq900 {
    padding: 2rem;

    .box {
      margin-top: 4rem;
    }
  }


  &-content {
    @include contentSet;
    height: $content-height;

    @include mq900 {
      flex-wrap: wrap;
      justify-content: center;
      height: auto;


      .box {
        height: 30vh;
      }
    }

    @include mq600 {
      padding: 5rem 0;

      .box {
        flex-basis: 80%;
        margin-top: 0;
        height: auto;
      }

      .box:nth-child(1) {
        height: 30vh;
        flex-basis: 90%;
      }
    }

    @include mqLand(640px) {
      height: auto;
      padding-bottom: 10rem;
    }

    @include mqLandBoth(568px, 320px) {
      .box {
        flex-basis: 60%;
      }

      .box:nth-child(1) {
        flex-basis: 70%;
      }
    }


    @include mqLandBoth(1024px, 768px) {
      height: 50vh;

      .box:nth-child(1) {
        height: 45vh;
      }
    }
  }
}