.contact {
  padding: $section-padding;

  @include mq700 {
    padding: 2rem;
  }

  &-content {
    @include contentSet;

    @include mqLandBoth(667px, 375px) {
      .box {
        flex-basis: 50%;
      }
    }

    @include mqLandBoth(568px, 320px) {
      .box {
        flex-basis: 70%;
      }
    }

    @include mq700 {
      flex-wrap: wrap;
      justify-content: center;

      .box {
        flex-basis: 100%;
      }
    }
  }

  &-content-box {
    @include flexCenter;
    flex-direction: column;
  }

  &__address,
  &__info {
    list-style: none;
    line-height: 1.6;
    font-size: 1.8rem;
    width: 60%;

    li {
      color: $font-color-dark;
    }
  }

  &__address {

    li:first-child {
      font-weight: bold;
    }
  }

  &__info {
    margin-top: 1rem;
  }

  .heading-secondary {
    text-align: left;
  }
}