.designers {
  padding: $section-padding;
  color: $font-color-dark;

  &__gallery {
    @include contentSet;
    height: $content-height;
  }

  &__info {
    @include contentSet;
    margin: $margin-small auto;
  }
}