.designers {
  padding: $section-padding;
  color: $font-color-dark;

  @include mq900 {
    padding: 3rem;
  }

  &__gallery {
    @include contentSet;
    height: $content-height;

    @include mq900 {
      flex-wrap: wrap;
      justify-content: center;
      height: auto;

      .box {
        height: 40vh;
      }
    }

    @include mq600 {

      .box {
        flex-basis: 80%;
      }

      .box:nth-child(4) {
        height: 30vh;
        flex-basis: 90%;
      }
    }

    @include mqLandBoth(568px, 320px) {
      .box {
        flex-basis: 60%;
        height: 60vh;
      }

      .box:nth-child(4) {
        flex-basis: 70%;
      }
    }
  }

  &__info {
    @include contentSet;
    margin: $margin-small auto;

    @include mq900 {
      flex-wrap: wrap;
      justify-content: center;
    }

    @include mq600 {
      .box {
        flex-basis: 90%;
      }
    }


    @include mqLandBoth(568px, 320px) {
      .box {
        flex-basis: 70%;
      }
    }
  }
}