.header {
  position: relative;
  height: 100vh;
  width: 100%;
  background: linear-gradient(rgba(0, 0, 0, .5)), url('https://images.unsplash.com/photo-1489769002049-ccd828976a6c?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1214&q=80') center no-repeat;
  background-size: cover;

}

.heading-primary {
  position: absolute;
  top: 50%;
  left: 0;
  width: 100%;
  padding: 0 0 3rem 10rem;
  transform: translateY(-50%);

  @include mq600 {
    padding: 0 0 3rem 0;
    text-align: center;
  }

  &::after {
    @include afterElement(20%);
  }
}