@mixin absCenter {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

@mixin flexCenter {
  display: flex;
  justify-content: center;
  align-items: center;
}

@mixin contentSet {
  display: flex;
  max-width: $section-width;
  margin: 0 auto;
}

@mixin transition {
  transition: all .2s ease-in-out;
}

@mixin afterElement($width) {
  content: '';
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
  height: 1rem;
  width: $width;
  background-color: $border-color;
}



@mixin mq600 {
  @media screen and (max-width: 600px) {
    @content;
  }
}

@mixin mq700 {
  @media screen and (max-width: 700px) {
    @content;
  }
}

@mixin mq900 {
  @media screen and (max-width: 900px) {
    @content;
  }
}

@mixin mq1000 {
  @media screen and (max-width: 1000px) {
    @content;
  }
}

@mixin mq1200 {
  @media screen and (max-width: 1200px) {
    @content;
  }
}


@mixin mqLand($width) {
  @media screen and (orientation: landscape) and (min-width: $width) {
    @content;
  }
}

@mixin mqLandPort($width, $height) {
  @media screen and (width: $width) and (height: $height) {
    @content;
  }
}

@mixin mqLandBoth($width, $height) {
  @media screen and (orientation: landscape) and (width: $width) and (height: $height) {
    @content;
  }
}