.projects {
  padding: $section-padding;
  color: $font-color-dark;

  &__gallery {
    @include contentSet;
    height: 100vh;
    flex-wrap: wrap;
  }

  .heading-secondary {
    text-align: left;
  }
}