.projects {
  padding: $section-padding;
  color: $font-color-dark;

  @include mq600 {
    padding: 2rem;
  }

  &__gallery {
    @include contentSet;
    height: 100vh;
    flex-wrap: wrap;

    @include mq900 {
      height: auto;
      justify-content: center;

      .box:nth-child(3) {
        order: 1;
      }
    }

    @include mq600 {
      .box:not(:nth-child(3)) {
        height: 30vh;
        flex-basis: 80%;
      }

      .box:nth-child(3) {
        flex-basis: 100%;
      }
    }


    @include mqLandBoth(568px, 320px) {
      .box:not(:nth-child(3)) {
        height: 50vh;
        flex-basis: 60%;
      }

      .box:nth-child(3) {
        flex-basis: 70%;
      }
    }
  }

  .heading-secondary {
    text-align: left;
  }
}