.heading-primary {
  color: $font-color-light;
  font-size: 7.5rem;
  font-weight: 300;
  letter-spacing: .2rem;

  &--sub {
    display: block;
  }
}

.heading-secondary {
  font-size: 3.5rem;
  font-weight: lighter;
  text-align: center;
  letter-spacing: .2rem;

  &--light {
    color: $font-color-light;
  }

  &--dark {
    color: $font-color-dark;
  }
}

.paragraph {
  padding: 1.5rem;
  font-size: 1.6rem;
  line-height: 1.5;

  &--bold {
    color: $font-color-white;
    font-weight: 700;
  }
}