$font-color-dark: #333;
$font-color-light: rgb(212, 212, 212);
$font-color-white: #fff;

$bgc-color-dark: #212329;
$bgc-color-light: #CCCCCC;
$bgc-blue: #22324C;

$border-color: #B87040;

$section-padding: 5rem;
$section-width: 1200px;
$content-height: 45vh;

$margin-small: 2rem;

$bp-largest: 1200px;
$bp-large: 56.25em;
$bp-medium: 50em;
$bp-small: 37.5em;

$font-size: 30px;